# Python
venv/
__pycache__/
*.pyc
.env
.pytest_cache/

# SQLite (Flask instance)
instance/
instance/*.db
*.sqlite
*.db

# Node.js / Vite (para tu futuro frontend)
node_modules/
dist/
.env.local

# Archivos de SO e IDE
.vscode/
.idea/
.DS_Store